etc/button_labels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locale" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="step1"   type="xs:string" minOccurs="0"/>
                            <xs:element name="step2"   type="xs:string" minOccurs="0"/>
                            <xs:element name="sidebar" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="code"         type="xs:string" use="required"/>
                        <xs:attribute name="fallback"     type="xs:boolean"/>
                        <xs:attribute name="inheritsFrom" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
